table {
  width: 90%;
  margin-top: 50px;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: lightgray;
}

:host {
  flex-direction: column;
}
